#register button {
    background-color: #dc7805;
    height: 50px;
    min-width: 150px;
    color: whitesmoke;
    font-size: 22px;
    border: 0px;
}

#cta {
    padding-bottom: 80px;
    padding-top: 50px;
}

#cta div {
    color: #daecfc;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

#registerText {
    padding-left: 15% !important;
}

#registerTitle {
    color: #dc7805 !important;
    padding-left: 15% !important;
    padding-bottom: 30px;
    padding-top: 30px;
}

#register button:hover {
    box-shadow: 0px 0px 5px #01B4E4;
    border-color:#dc7805;
}

#register {
    width: 40%;    
    margin-left: 5%;
    padding-top: 30px;
    border: 0;
}

#textDiv {
    width: 60%;
}

#emailBox {
    height:40px;
    width:70%;
}

#nameBox {
    height: 40px;
    width: 50%;
}

#orgBox {
    height: 40px;
    width: 70%;
}

#comment {
    height: 70px;
    width: 70%;
}

#errorMessage {
    font-size: 22px;
    color: rgb(208, 23, 23);
}

@media only screen and (max-width: 800px) {
   #register button {
        width: 40%;
        margin-top: 10px;
        margin-left: 0px;

    }
 
    #register {
        width: 100%;
        padding-left: 2.5%;        
    }

    #registerTitle {
        padding-inline: 5% !important;
    }

    #registerText {
        padding-inline: 5% !important;
    }

    #textDiv {
        width: 100%;
    }

    #cta {
        flex-direction: column !important;
        align-items: center;
    }
    #nameBox {
        margin-top: 30px;
    }
}
